<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2 class="mb-3">User info</h2>

      <%= image_tag @book.user.get_profile_image(100, 100) %>

      <table class="table">
        <tbody>
          <tr>
            <th scope="col">name</th>
            <td><%= @book.user.name %></td>
          </tr>
          <tr>
            <th scope="col">introduction</th>
            <td><%= @book.user.introduction %></td>
          </tr>
        </tbody>
      </table>

      <% if @book.user == current_user %>
        <div class="mb-3">
          <%= link_to edit_user_path(@book.user.id), class: "btn btn-outline-secondary col-lg-3" do %>
            <i class="fa-solid fa-user-gear"></i>
          <% end %>
        </div>
      <% else %>
        <div class="mb-3">
          <%= link_to user_path(current_user.id), class: "btn btn-outline-secondary col-lg-3" do %>
            <i class="fa-solid fa-user-gear"></i>
          <% end %>
        </div>
      <% end %>

      <h2 class="mb-3">New Book</h2>

      <%= form_with model: @new_book do |f| %>
        <div class="form_group mb-3">
          <%= f.label :title, "Title" %><br />
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form_group mb-3">
          <%= f.label :body, "Opinion" %><br />
          <%= f.text_area :body, class: "form-control", rows: "3" %>
        </div>

        <%= f.submit "Create Book", class: "btn btn-success" %>
      <% end %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2 class="mb-3">Book detail</h2>

      <table class="table">
        <tbody>
          <td><%= image_tag @book.user.get_profile_image(100, 100) %></td>
          <td><%= link_to @book.title, book_path(@book.id) %></td>
          <td><%= @book.body %></td>

          <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>