<div class="container">
  <%= render "shared/error_messages", object: @new_book %>

  <div class="row">
    <div class="col-md-3">
      <h2 class="mb-3">User info</h2>

      <%= image_tag @book.user.get_profile_image(100, 100) %>

      <table class="table">
        <tbody>
          <tr>
            <th scope="col">name</th>
            <td><%= @book.user.name %></td>
          </tr>
          <tr>
            <th scope="col">introduction</th>
            <td><%= @book.user.introduction %></td>
          </tr>
        </tbody>
      </table>

      <div class="mb-3">
        <%= link_to edit_user_path(@book.user.id), class: "btn btn-outline-secondary col-12" do %>
          <i class="fa-solid fa-user-gear"></i>
        <% end %>
      </div>

      <h2 class="mb-3">New Book</h2>
      <%= render "shared/new_book", new_book: @new_book %>

    </div>

    <div class="col-md-8 offset-md-1">
      <h2 class="mb-3">Book detail</h2>

      <table class="table">
        <tbody>
          <td><%= image_tag @book.user.get_profile_image(100, 100) %><br><%= link_to @book.user.name, user_path(@book.user.id) %></td>
          <td><%= link_to @book.title, book_path(@book.id) %></td>
          <td><%= @book.body %></td>

          <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>